
.parallax-window {
  min-height: 450px;
  background: transparent;
  position: relative;
}

.tm-header {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
  z-index: 1000;
}

.tm-header-inner {
  padding: 40px 50px;
}

#bokrow {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

@media (max-width: 991px) {
  .tm-header-inner {
    padding: 30px 15px;
  }
}
.shimg{
  min-width: 100%;
  max-height: 500px;
}

.tm-site-logo {
  display: inline-block;
  margin-right: 5px;
}

.tm-site-text-box {
  display: inline-block;
}

.tm-site-title {
  font-size: 3.2rem;
  font-weight: 400;
  margin-bottom: 5px;
}

.tm-site-description {
  font-size: 1.1rem;
  font-weight: 400;
}

.tm-nav {
  text-align: right;
  margin-top: 30px;
}

.tm-nav-ul {
  display: flex;
  justify-content: flex-end;
}

.tm-nav-li {
  list-style: none;
  display: block;
  margin-bottom: 0;
  padding-right: 25px;
  padding-left: 25px;
}

@media (max-width: 991px) {
  .tm-nav-li {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.tm-nav-link {
  font-size: 1.3rem;
  color: white;
  text-decoration: none;
  padding-bottom: 10px;
}

.tm-nav-link.active,
.tm-nav-link:hover {
  border-bottom: 1px solid white;
}

.detailsimg{
  max-width: 650px;
  min-width: 650px;
  min-height: 450px;
  max-height: 450px;
}



#crdbtn{
  width: 120px;
  font-size: 15px;
  margin: center;
  margin-left: 60%;
  background-color: black;
}


.crdboder:hover{
  box-shadow: 0px 0px 5px 5px #6e6e6e;
}


#myInput {
  
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}


.packageimg{
  min-height: 260px;
}

.tm-gallery-title {
  font-size: 1.5rem;
  font-weight: 400;
  color: black;
  margin-bottom: 15px;
}


.hero-image {
  background-image: url("https://www.livemint.com/lm-img/img/2023/04/21/600x338/Air_travel_1682103021468_1682103021608.jpg");
  background-color: #cccccc;
  width: 100%;
  min-height: 500px;
  background-position: center;
  background-size: cover;
  position: relative;
  padding-top: 30px;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 30px;
}

.boktable{
  width: 100%;
  border: 0px solid white;
}

.bokbtn{
  width: 200px;
  height: 40px;
}

.boktd{
  padding-left: 30px;
  width: 80%;
  border: 0px solid white;
  
}

.bokth{
  padding-right: 30px;
  text-align: right;
  border: 0px solid white;
}

.bokbox{
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.32);
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255, 255, 255, 0.32)
}
.bokmiddle{
  margin-left: auto;
  margin-right: auto;
}

.bokpadding{
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}

#hotelse{
  width: 300px;
}

/**admin part*/

.adfor{
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 30px;
  border: 1px solid black;
  width: 600px;
  padding: 20px;
  background-color: #ebebeb;
}

#tpic{
  text-align: center;
}

.ad{
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.adcard{
  background-color: #ebebeb;
  width: 800px;
  height: 180px;
  border-radius: 1px;
  display: flex;
}

.ad_card{
  flex: 0 0 35%;
  position: relative;
  max-height: fit-content;
}

.card_img{
  display: block;
  height: 180px;
  width: 100%;
}

.ad_content{
  flex: 1;
  padding: 20px 35px 25px 35px;
  display: flex;
  flex-direction: column;
}
.card_info{
  display: flex;
  flex-direction: column;
}

.cardtopic{
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 22px;
  margin-bottom: 8px;
}

.cardprice{
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 8px;
}

.cardmax{
  font-size: 16.5px; 
  font-weight: 400;
}

.cd_bttn{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.btnset{
  display: flex;
  justify-content: flex-end;
}

.addbttn{
  
  
  margin-left: 20%;
  margin-right: 30%
}

.prntbtn{
  margin-block-start: 30px;
  margin-inline-start: 80%;
}

/**admin End*/

.section {
	position: relative;
	height: 100vh;
}

.section .section-center {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

#booking {
	font-family: 'Montserrat', sans-serif;
	background-image: url('https://www.livemint.com/lm-img/img/2023/04/21/600x338/Air_travel_1682103021468_1682103021608.jpg');
	background-size: cover;
	background-position: center;
}

#booking::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: rgba(47, 103, 177, 0.2);
}

.booking-form {
	background-color: #fff;
	padding: 50px 20px;
	-webkit-box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.3);
	border-radius: 4px;
}

.booking-form .form-group {
	position: relative;
	margin-bottom: 30px;
}

.booking-form .form-control {
	background-color: #ebecee;
	border-radius: 4px;
	border: none;
	height: 40px;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #3e485c;
	font-size: 14px;
}

.booking-form .form-control::-webkit-input-placeholder {
	color: rgba(62, 72, 92, 0.3);
}

.booking-form .form-control:-ms-input-placeholder {
	color: rgba(62, 72, 92, 0.3);
}

.booking-form .form-control::placeholder {
	color: rgba(62, 72, 92, 0.3);
}

.booking-form input[type="date"].form-control:invalid {
	color: rgba(62, 72, 92, 0.3);
}

.booking-form select.form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.booking-form select.form-control+.select-arrow {
	position: absolute;
	right: 0px;
	bottom: 4px;
	width: 32px;
	line-height: 32px;
	height: 32px;
	text-align: center;
	pointer-events: none;
	color: rgba(62, 72, 92, 0.3);
	font-size: 14px;
}

.booking-form select.form-control+.select-arrow:after {
	content: '\279C';
	display: block;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.booking-form .form-label {
	display: inline-block;
	color: #3e485c;
	font-weight: 700;
	margin-bottom: 6px;
	margin-left: 7px;
}

.booking-form .submit-btn {
	display: inline-block;
	color: #fff;
	background-color: #1e62d8;
	font-weight: 700;
	padding: 14px 30px;
	border-radius: 4px;
	border: none;
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
	min-width: 180px;
	max-width: 180px;
}

.booking-form .submit-btn:hover,
.booking-form .submit-btn:focus {
	opacity: 0.9;
}

.booking-cta {
	margin-top: 80px;
	margin-bottom: 30px;
}

.booking-cta h1 {
	font-size: 52px;
	text-transform: uppercase;
	color: #fff;
	font-weight: 700;
}

.booking-cta p {
	font-size: 16px;
	color: rgba(255, 255, 255, 0.8);
}

.centerse{
  align-items: center;
}
.pad{
  padding-left: 50px;
}












