.payicons {
    margin-left: auto
}

.lefta {
    background-color: #ffffff;
    padding: 3vh
}

.lefta img {
    width: 2rem
}


.righta .item {
    padding: 1.5rem 0
}

.righta {
    background-color: #ffffff;
    padding: 2vh
}


.lower {
    line-height: 2
}

#cvv {
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.575), rgba(255, 255, 255, 0.541)), url("https://img.icons8.com/material-outlined/24/000000/help.png");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: center
}
